/* MAIN */

body {
  background-color: #111;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-family: Adieu;
}

button {
  font-family: Adieu;
}

button:focus {
  outline: none;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media (min-height: 600px) {
  .grid {
    grid-template-rows: 3fr 2fr;
  }
}

@media (min-height: 800px) and (max-width: 767px) {
  .grid {
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    height: 100vh;
  }
}

/* FONTS */

@font-face {
  font-family: Adieu;
  src: url(./font/Adieu-Regular.otf);
}

@font-face {
  font-family: Adieu-Black;
  src: url(./font/Adieu-Black.otf);
}

@font-face {
  font-family: Adieu-Black-Backslanted;
  src: url(./font/Adieu-BlackBackslant.otf);
}

button {
  -webkit-appearance: none !important;
}